@use "variables" as v;

@mixin reset-list {
    list-style: none;
    margin-left: 0%;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    height: 98px;
    width: v.$scale * 1920;
    background-color: #EDD603;
    color: #652D90;
    display: flex;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);

    &__logo {

        height: 70px;
        width: 70px;
        margin-top: 14px;
        margin-left: 23px;
    }

    &__h {

        font-style: normal;
        font-weight: normal;
        font-size: v.$f-size;
        margin-top: 21px;
        margin-left: 30px;
    }
}

.catalog {
    width: v.$scale * 1920;
    margin: auto;
    padding-bottom: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &__boots {
        height: 405px;
        flex: 0 0 22%;
        margin-top: 40px;
        border-radius: 5%;
        padding: 0;
        box-shadow: 0 2px 40px 2px gray;
        transition: .5s ease-in-out;
        position: relative;

        &:hover {
            text-decoration: none;
            transform: scale(105%);
        }
    }

    &__boots-1img {
        width: 100%;
        height: 315px;
        padding: 0;
        margin: 0;
        position: absolute;
        opacity: 1;
        transition: .5s ease-in-out;

        &:hover {
            opacity: 0;
        }
    }

    &__boots-2img {
        width: 100%;
        height: 315px;
        padding: 0;
        margin: 0;
        opacity: 0;
        position: absolute;
        border-radius: 5%;
        transition: .5s ease-in-out;

        &:hover {
            opacity: 1;
        }
    }

    &__boots-h {
        font-style: normal;
        font-weight: normal;
        font-size: v.$f-size * 0.75;
        line-height: 42px;
        margin-top: 335px;
        margin-left: 12px;
        padding-top: 0px;
        color: black;
        height: 42px;
        width: 183px;
        position: absolute;
    }

    &::after {
        content: '';
        display: block;
        flex: 0 0 22%;
    }

}

.footer {
    width: v.$scale * 1920;
    height: 330px;
    margin-top: 31px;
    background-color: #535252;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 45px;
    padding-right: 45px;

    &__cate {
        flex: 0 0 22%;
        display: block;
        margin-top: 25px;

        &-h {
        font-style: normal;
        font-weight: normal;
        font-size: v.$f-size * 0.5;
        line-height: 28px;
        color: #FFFFFF;
        }

        &-ul {
            @include reset-list();
        }

        &-a {
        font-size: v.$f-size * 0.375;
        font-weight: normal;
        line-height: 25px;
        color: #FFFFFF;
        padding: 0px;
        line-height: 2;
        text-decoration: none;

            &:hover {
            color: aquamarine;
            }
        }

        &-li:hover {
            margin-left: 20px;
            transform: scale(115%);
        }
    }

    &__logo {
        margin-top: 25px;
        height: 250px;
        width: 300px;
        text-align: right;
        flex: 0 0 22%;
    
        &-img {
            height: 181px;
            width: 181px;
            text-align: right;
        }

        &-h {
            margin-top: 48px;
            font-size: v.$f-size * 0.375;
            color: #FFFFFF;
            font-style: normal;
            font-weight: normal;
        }
        }
}

@media screen and (max-width: 760px) and (min-width: 320px) {
    .header {
        width: v.$scale760 * 760;
        height: 78px;
        margin-bottom: 0%;

        &__logo {
            margin: 0px;
        }

        &__h {
            font-size: v.$f-size760;
            margin-top: 25px;
            margin-left: 20px;
        }
    }

    .catalog {
        width: v.$scale760 * 760;
        padding-bottom: 32px;

        &__boots {
            height: 175px;
            flex: 0 0 43%;

            &-1img {
                height: 137px;
                width: 100%;
                padding: 0;
                margin: 0;
            }
        
            &-2img {
                width: 100%;
                height: 137px;
            }
        
            &-h {
                width: 130px;
                margin-top: 143px;
                margin-left: 7px;
                padding-bottom: 0px;
                line-height: 21px;
                font-size: v.$f-size760 * 0.75;
            }
        }

        &::after {
            content: '';
            display: block;
            flex: 0 0 43%;
        }  
    }

    .footer {
        width: v.$scale760 * 760;
        height: 889px;
        padding-top: 24px;
        padding-left: 16px;
        margin: auto;
        display: flex;
        text-align: center;

        &__cate {
            height: 161px;
            width: 100%;
            margin-top: 0%;
            flex: 0 0 90%;

            &-h {
                font-size: v.$f-size760 * 0.75;
                line-height: 28px;
            }

            &-ul {
                margin-top: 0%;
            }

            &-li {
                height: 11px;
                margin-top: 11px;

                &:hover {
                    margin-left: 0px;
                }
            }

            &-a {
                font-size: v.$f-size760 * 0.58;
                line-height: 16px;
            }
        }

        &__logo {
            text-align: center;
            margin-top: 20px;
            flex: 0 0 90%;

            &-img {
                height: 181px;
                width: 181px;
                text-align: center;
            }
            
            &-h {
                font-size: v.$f-size760 * 0.375;
                color: #FFFFFF;
                font-style: normal;
                font-weight: normal;
                margin-top: 48px;
            }            
        }
    }
}